In [8]:
cd C:\Users\LENOVO\Python Data Set

C:\Users\LENOVO\Python Data Set

In [9]:
#Importing pandas
import pandas as pd

In [10]:
df = pd.read_csv('sports_watch.csv')

In [11]:
df.head()

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
0,30.0,80.0,120.0,240.0,10.0,7.0
1,30.0,85.0,120.0,250.0,10.0,7.0
2,45.0,90.0,NaN,260.0,8.0,NaN
3,45.0,95.0,130.0,270.0,NaN,7.0
4,NaN,100.0,140.0,NaN,0.0,7.0

# Data Cleaning
#### We can use the dropna() function to remove the NaNs. axis=0 means that we want to remove all rows that have a NaN value:

In [12]:
df.dropna(axis=0,inplace=True)
df

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
0,30.0,80.0,120.0,240.0,10.0,7.0
1,30.0,85.0,120.0,250.0,10.0,7.0
5,60.0,105.0,140.0,290.0,7.0,8.0
8,75.0,120.0,150.0,320.0,0.0,8.0
9,75.0,125.0,150.0,330.0,8.0,8.0
10,68.0,130.0,134.0,320.0,7.0,7.0

In [13]:
df

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
0,30.0,80.0,120.0,240.0,10.0,7.0
1,30.0,85.0,120.0,250.0,10.0,7.0
5,60.0,105.0,140.0,290.0,7.0,8.0
8,75.0,120.0,150.0,320.0,0.0,8.0
9,75.0,125.0,150.0,330.0,8.0,8.0
10,68.0,130.0,134.0,320.0,7.0,7.0

# Data Categories
### 1. Quantitative Data - Can be expressed as a number or can be quantified. Can be divided into two sub-categories:
 #### -Discrete data: Numbers are counted as "whole", e.g. number of students in a class, number of goals in a soccer game
 #### -Continuous data: Numbers can be of infinite precision. e.g. weight of a person, shoe size, temperature
 
 ### 2. Qualitative Data - Cannot be expressed as a number and cannot be quantified. Can be divided into two sub-categories:
#### -Nominal data: Example: gender, hair color, ethnicity
#### -Ordinal data: Example: school grades (A, B, C), economic status (low, middle, high)

#### We cannot use objects to calculate and perform analysis here. We must convert the type object to float64 (float64 is a number with a decimal in Python).
#### We can use the astype() function to convert the data into float64.

### Ilustration 
#### df["Duration"] = df["Duration"].astype(float)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 10
Data columns (total 6 columns):
Duration           6 non-null float64
Average_Pulse      6 non-null float64
Max_Pulse          6 non-null float64
Calorie_Burnage    6 non-null float64
Hours_Work         6 non-null float64
Hours_Sleep        6 non-null float64
dtypes: float64(6)
memory usage: 336.0 bytes

# Analyze the Data

#### When we have cleaned the data set, we can start analyzing the data.

#### We can use the describe() function in Python to summarize data:

In [16]:
df.describe()

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,56.333333,107.500000,135.666667,291.666667,7.000000,7.500000
std,21.134490,21.154196,13.589211,38.686776,3.687818,0.547723
min,30.000000,80.000000,120.000000,240.000000,0.000000,7.000000
25%,37.500000,90.000000,123.500000,260.000000,7.000000,7.000000
50%,64.000000,112.500000,137.000000,305.000000,7.500000,7.500000
75%,73.250000,123.750000,147.500000,320.000000,9.500000,8.000000
max,75.000000,130.000000,150.000000,330.000000,10.000000,8.000000